{{title}}



<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody  *ngFor="let user of users">
      <tr>
        <td >
            {{user.id}}
            </td>
           <td>
            {{user.userName}}
            </td>
     </tr>    
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    @for (user of users; track $index
    ) {
    <tbody>
      <tr>
        <td >
            {{user.id}}
            </td>
           <td>
            {{user.userName}}
            </td>
     </tr>    
    </tbody>
    }
  </table>
